html,
body,
#wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
}

#wrapper, #circleCanvas, #animationCanvas {
  border-radius: 50%;
}

#circleCanvas, #animationCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}
